.cart__drawer {
  height: 100%;
  background: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
}

.cart__nav {
  display: flex;
  align-items: center;
  padding: 20px;
}

.cart__nav span {
  margin-left: 10px;
}

.cart__nav img {
  width: 16px;
  height: 16px;
}

.cart__vazio {
  margin-left: 20px;
  color: #ccc;
}
