.card a {
  text-decoration: none;
  color: #000;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: '100%';
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  border: 1px solid blue;
}

.container {
  padding: 2px 16px;
  background-color: rgb(214, 205, 205);
}
.card__discount {
  color: #fff;
  background: #000;
  width: 40px;
  padding: 5px;
  text-align: center;
  border-radius: 7px 0 7px 0;
  margin-right: 10px;
}
.card__discount__body {
  display: flex;
  align-items: center;
}

.card__discount__body s {
  color: #fff;
  margin-right: 2px;
}

.card__price {
  display: flex;
  align-items: center;
}
